In [1]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("checkerboard-100.csv", header=None)
grouped = data.groupby(0).mean() // 1
grouped

           1
0
2        6.0
4        9.0
6       20.0
8       22.0
10      47.0
12     101.0
14     232.0
16     568.0
18    1456.0
20    3775.0
22   10062.0
24   27265.0
26   76691.0
28  215331.0
30  644093.0

In [38]:
pd.DataFrame(np.unique(data[0], return_counts=True))

   0   1   2   3   4    5    6    7     8     9     10    11   12  13
0   4   6   8  10  12   14   16   18    20    22    24    26   28  30
1   1   4  10  36  68  192  465  988  1663  2366  2413  1388  389  17

In [5]:
under_20 = pd.read_csv("checkerboard-20.csv", header=None)
# under_20.groupby(0).mean()
combined = data.append(under_20)
combined.groupby(0).mean() // 1

C:\Users\wpdtj\AppData\Local\Temp\ipykernel_29424\221368831.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined = data.append(under_20)

           1
0
2        5.0
4        8.0
6       15.0
8       23.0
10      46.0
12      97.0
14     236.0
16     600.0
18    1463.0
20    3742.0
22   10062.0
24   27265.0
26   76691.0
28  215331.0
30  644093.0