In [9]:
import pandas as pd
import numpy as np

In [13]:
data = pd.read_csv("displacement-100.csv", header=None)
grouped = data.groupby(0).mean() // 1
grouped

            1
0
4        11.0
6        17.0
8        32.0
10       79.0
12      190.0
14      486.0
16     1302.0
18     3596.0
20     9975.0
22    28358.0
24    80559.0
26   234271.0
28   666423.0
30  2075996.0

In [14]:
pd.DataFrame(np.unique(data[0], return_counts=True))

   0   1   2   3   4    5    6    7     8     9     10    11   12  13
0   4   6   8  10  12   14   16   18    20    22    24    26   28  30
1   1   5  16  26  85  197  415  961  1686  2412  2374  1422  381  19

In [15]:
under_20 = pd.read_csv("displacement-12.csv", header=None)
# under_20.groupby(0).mean()
combined = data.append(under_20)
combined.groupby(0).mean() // 1

/var/folders/42/m_xbmcdx7c30j0mbtcrxw7fr0000gn/T/ipykernel_51100/2974966842.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined = data.append(under_20)

            1
0
2         6.0
4         9.0
6        15.0
8        34.0
10       73.0
12      179.0
14      486.0
16     1302.0
18     3596.0
20     9975.0
22    28358.0
24    80559.0
26   234271.0
28   666423.0
30  2075996.0