In [5]:
import pandas as pd
import numpy as np

In [37]:
data = pd.read_csv("taxicab_lower_g.csv", header=None)
grouped = data.groupby(0).mean() // 1
grouped

          1
0
4       9.0
6      16.0
8      20.0
10     35.0
12     59.0
14    118.0
16    245.0
18    520.0
20   1078.0
22   2289.0
24   5015.0
26  11541.0
28  27702.0
30  66715.0

In [38]:
pd.DataFrame(np.unique(data[0], return_counts=True))

   0   1   2   3   4    5    6    7     8     9     10    11   12  13
0   4   6   8  10  12   14   16   18    20    22    24    26   28  30
1   1   4  10  36  68  192  465  988  1663  2366  2413  1388  389  17

In [41]:
under_20 = pd.read_csv("taxicab_lower_g_twenty.csv", header=None)
under_20.groupby(0).mean()
combined = data.append(under_20)
combined.groupby(0).mean() // 1

C:\Users\wpdtj\AppData\Local\Temp\ipykernel_17320\1347117099.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined = data.append(under_20)

          1
0
2       4.0
4       9.0
6      16.0
8      18.0
10     36.0
12     66.0
14    119.0
16    256.0
18    553.0
20   1087.0
22   2289.0
24   5015.0
26  11541.0
28  27702.0
30  66715.0